#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 40px;
}
main{
    text-align: center;
}

#contador-dias{
    color: red;
}
.footer{
    position: absolute;
    bottom: 0px;
    margin: 15px;
    font-size: small;
    text-align: center;
}
body{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#saiba-mais{
    font-size: small;
}